*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background-color: #ecf2f8;
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

main {
  background-color: #fff;
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
  box-shadow: 0px 16px 20px -5px rgba(158, 175, 194, 0.4); }

@media (min-width: 768px) {
  main {
    display: flex;
    max-width: 46rem;
    overflow: visible; } }
.img-container {
  overflow: hidden; }
  .img-container img {
    max-width: 100%;
    display: block; }

@media (min-width: 768px) {
  .img-container {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
    .img-container img {
      height: 100%;
      object-fit: cover;
      object-position: left; } }
.article-preview {
  padding: 2rem; }
  .article-preview-title {
    font-size: 1rem;
    line-height: 1.5;
    color: #48556a;
    margin-bottom: 1rem; }
  .article-preview-text {
    font-size: 0.85rem;
    line-height: 1.5;
    color: #6d7f97; }

.profile-preview {
  position: relative; }
  .profile-preview-info {
    display: flex;
    align-items: center;
    padding: 1rem 2rem; }
  .profile-preview-info.hidden {
    display: none; }
  .profile-preview-img {
    overflow: hidden;
    border-radius: 100px;
    width: 50px;
    height: 50px; }
    .profile-preview-img img {
      max-width: 100%; }
  .profile-preview-author {
    margin-left: 1rem; }
    .profile-preview-author .author-name {
      font-size: 0.85rem;
      color: #48556a; }
    .profile-preview-author .post-date {
      font-size: 0.85rem;
      color: #6d7f97; }
  .profile-preview-share {
    background-color: #48556a;
    padding: 1rem 2rem;
    display: none;
    align-items: center;
    height: 82px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .profile-preview-share h2 {
      text-transform: uppercase;
      font-size: 0.75rem;
      color: #9eafc2;
      font-weight: 500;
      letter-spacing: 4px; }
  .profile-preview-share.open {
    display: flex; }
  .profile-preview-social {
    display: flex;
    align-items: center; }
    .profile-preview-social img {
      margin-left: 1rem; }

.share-btn {
  background-color: #ecf2f8;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  position: absolute;
  bottom: 1.5rem;
  right: 2rem; }

.share-btn.active {
  background-color: #6d7f97; }

.share-btn svg {
  fill: #6e8098; }

.share-btn.active svg {
  fill: #fff; }

@media (min-width: 768px) {
  .profile-preview-share {
    justify-content: space-around;
    max-width: 220px;
    top: -60px;
    left: 299px;
    padding: 1rem;
    height: auto;
    border-radius: 8px; }
  .profile-preview-share::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    border-top: 10px solid #48556a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }

  .share-btn {
    cursor: pointer; } }

/*# sourceMappingURL=styles.css.map */
