.img-container {
	overflow: hidden;
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
	img {
		max-width: 100%;
		display: block;
	}
}

@media (min-width: $medium-brak-point) {
	.img-container {
		img {
			height: 100%;
			object-fit: cover;
			object-position: left;
		}
	}
}
