.img-container {
	overflow: hidden;

	img {
		max-width: 100%;
		display: block;
	}
}

@media (min-width: $medium-brak-point) {
	.img-container {
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;

		img {
			height: 100%;
			object-fit: cover;
			object-position: left;
		}
	}
}
